<div
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    data-modal-target="modal"
    >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Site Message' }}</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div data-modal-target="content" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">{{ 'Ok' }}
                </button>
            </div>
        </div>
    </div>
</div>