{% extends 'base.html.twig' %}

{% block title %}{{ 'New Vote' }}!{% endblock %}

{% block body %}
    <h3>{{ 'Please rate you favourite song!' }}</h3>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}

